.cards {
    display: flex;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    background-color: white;
}

.img {
    width: 250px;
    align-content: center;
    margin-top: 5%;
    border: 1px solid ;
    border-bottom: 1px solid;
}

.font{
    font-family:'Exo 2', sans-serif;
    color:black
}


.cardtext{
    width: 250px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

