.imagen{
    width: 40%;
    margin-left: 25%;
    margin-top: 10px;
}

.cardimg{
    border:none;
    width: 80%;
    margin-left: 10%;
    background-color: white;
}

.title{
    padding-left: 30%;
    padding-top: 13px;
    text-transform: uppercase;
    color: black;
    font-size: xx-large;
}

.precio{
    padding-left: 35%;
    text-transform: uppercase;
    color: black;
    font-size:50px;
    font-family: 'Exo 2', sans-serif;
}

.detalles{
   padding-left: 5%;
    text-transform: uppercase;
    color: black;
    font-family: 'Exo 2', sans-serif;
    text-align: justify;
}

.btn{
    margin-left: 30%;
    width: 25%;
    font-family: 'Exo 2', sans-serif;
    background-color: #DA6363;
}